#form {
	padding: 30px 20px 30px 20px;
	width: 175px;
	left: 175px;
	z-index: 0;

	margin: 0;
}

#container {
	width: 175px;
	height: 175px;
	z-index: 1;

	position: relative;
	margin-left: auto;
	margin-right: auto;
	/* border: solid; */
}
#timer {
	text-align: center;
}

#circle {
	z-index: 4;
	width: 75%;
	height: 75%;
	position: absolute;
	top: 12.5%;
	left: 12.5%;
	border-radius: 50%;
	background-color: #c7ceea;
	transition: 30s;

	text-align: center;
}
#btn {
	display: block;
	height: 25px;
	width: 50px;
	margin: 20px auto;
	margin-bottom: 0px;
	border: none;
	border-radius: 25%;
	-webkit-user-select: none;
}
#btn:focus {
	outline: 0;
}

#clock {
	margin: 40% 0 0 0;
}

.up {
	height: 0px;
	padding: 0 0 0 0;
	width: 0px;
	font-size: 30px;
	background-color: transparent;
	text-align: center;
	color: rgb(224, 224, 224);
	z-index: 1;
	position: absolute;
	top: 25%;
	left: 45.5%;
	-webkit-user-select: none;
}
.down {
	color: rgb(224, 224, 224);
	height: 0px;
	padding: 0 0 0 0;
	width: 0px;
	font-size: 30px;
	background-color: transparent;
	text-align: center;
	z-index: 2;
	position: absolute;
	top: 44%;
	left: 45.5%;
	-webkit-user-select: none;
}
.right {
	position: absolute;
	right: 13px;
	top: 39%;
	-webkit-user-select: none;
}
.left {
	position: absolute;
	left: 13px;
	top: 39%;
	-webkit-user-select: none;
}
